<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="App.Metrics" version="4.1.0" targetFramework="net472" />
  <package id="App.Metrics.Abstractions" version="4.1.0" targetFramework="net472" />
  <package id="App.Metrics.Concurrency" version="2.0.2" targetFramework="net472" />
  <package id="App.Metrics.Core" version="4.1.0" targetFramework="net472" />
  <package id="App.Metrics.Extensions.Configuration" version="4.1.0" targetFramework="net472" />
  <package id="App.Metrics.Extensions.DependencyInjection" version="4.1.0" targetFramework="net472" />
  <package id="App.Metrics.Extensions.Hosting" version="4.1.0" targetFramework="net472" />
  <package id="App.Metrics.Formatters.Ascii" version="4.1.0" targetFramework="net472" />
  <package id="App.Metrics.Formatters.Json" version="4.1.0" targetFramework="net472" />
  <package id="AppNet.NET" version="1.8.2.1" targetFramework="net472" />
  <package id="AppNet.WS" version="1.0.34" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="fastJSON" version="2.3.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.5" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.7.2" targetFramework="net472" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>